runpod
# 音频处理
librosa==0.9.2
numba==0.56.4
scipy==1.9.3
torchcrepe
ffmpeg-python
gradio==3.41.2

# 分离工具
# 移除 [gpu] 标签，防止它强制升级 onnxruntime
audio-separator
onnxruntime-gpu

# 其他
faiss-gpu
scikit-learn
llvmlite
